body {
    font-family: Arial, Helvetica, sans-serif;
}

.tools {
    width: 90px;
    float: left;
    padding: 5px;
    margin-right: 5px;
}

.tools li {
    padding: 5px 10px;
    margin: 10px 0;
    list-style: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.tools li:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.tools li.marked {
    background-color: cornflowerblue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

#drawArea {
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
}

#load-events-button {
    cursor: pointer;
    background-color: cornflowerblue;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#load-events-button:hover {
    background-color: rgb(137, 174, 241);
}

#eventstream-container {
    margin: 20px;
}

/* MENU STYLES */

.menu-container {
    min-width: 200px;
    min-height: 50px;
    background-color: white;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
    background-color: white;
    border: 1px solid #2e2e2e;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.menu-item:hover,
.button:hover {
    background-color: #ffe9c2;
}

.menu-seperator {
    width: 100% - 10px;
    border-top: 1px solid #2e2e2e;
    margin: 0 5px;
}

/* OVERVIEW STYLES */

#canvas-button-container {
    display: flex;
}

.canvas-button {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: cornflowerblue;
    border: solid 2px transparent;
}

.canvas-button:hover {
    color: cornflowerblue;
    border-radius: 10px;
    background-color: rgba(100, 148, 237, 0.3);
    border: solid 2px cornflowerblue;
}